@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Galdeano&family=Jaldi:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: Jaldi;
}

.header {
    width: 100%;
    /* height: 100vh; */
    background-image: url("images/headbg.jpg");
    background-size: cover;

}


.navbar-collapse {
    flex-grow: unset;
}

.nav-item {
    padding: 0 0.5rem;
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
}

.header-content {
    background-color: rgb(0, 58, 142, 0.6);
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: white;
    padding: 1rem;
    width: 80%;
    /* width: fit-content; */

}

.header-content h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 15px 0;
}




.header-paragraph{
    font-size: 20px;
}
.btn {
    background-color: #81bcba;
    border-radius: 0%;
    width: 200px;
    margin-bottom: 50px;
    color: white;
}

.info-row {
    margin: auto;
    border: 4px solid #81bcba;
    width: 20%;
    margin-bottom: 30px;
}

.img-container {
    height: fit-content;
    position: absolute;
    ;
    display: flex;
    justify-content: center;
    margin-top: -110px;
    max-width: inherit;
}

.img-container img {
    margin-left: 60%;
}
.page-2{
    background-color: rgb(243, 246, 247);
    margin-top: 5%;
}
.text-conatiner {
    background-color: white;
    z-index: 3;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    padding: 2%;
    text-align: justify;
    position: relative;
    top: -69px;
    width: 87%;
    margin-right: 10%;
}

.rose-container {
    background-image: url(images/greenrose.png);
    background-size: cover;
    height: 448px;
}

.quote1 {
    color: #81bcba;
    font-size: 3.5em;
}

.feedback{
    width: 80%;
}

.page-3 {
    margin-top: 50px;
    background-image: url('images/page3.jpg');
    width: 100%;
    height: 85vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    padding: 20px;
    /* height: fit-content; */

}

.content-left p {
    font-size: 15px;

}
input,textarea{
    padding: 5px;
}
.content-box {
    display: flex;
    height: 84%;
    width: 75%;
}

.content-right {
    width: 45%;
    /* height: 45%; */
    /* margin-bottom: 30vh; */
}

.final-page {
    height: fit-content;
   text-align: justify;
    width: 80%;
    padding: 5rem;
    margin-top: 5%;
}
.final-para{
    width: 80%;
}
.team-container{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.team-container img{
    height: 200px;
    width: 200px;
}
.founder-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.founder-container p{
    color:#00317a ;
    margin-top:3%;
}

.footer{
    background-color: #00317a;
    color: white;
    padding: 3rem;
    
}
.footer-wrapper{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.fa, .fa-brands{
    color: #81bcba;
}
.footer li{
    list-style: none;
    margin-bottom: 10px;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px; */
text-align: center;
        font-size: 15px;

    
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;}

.social-icons{
    display: flex; justify-content: space-around; width: 80%; margin-top:25px;
}

.contact-icon{
    width: fit-content;
    display: flex;
    justify-content: start;
    gap: 5px;
    margin-top: 20px;
}

.footer-background{
    height: 10vh;background: url(images/leaf.jpg); width: 100%;
}

@media  (max-width:425px){
    .header-content{
    width: 100%;
}
    
}

@media (max-width: 768px) {
    .comment-container {
        width: 100%;
        display: block;
    }

    .team-container, .footer-wrapper{
        flex-direction: column;
        gap: 50px;
    }
    .final-page{
        width: 100%;
        padding: 1rem;
    }
    .final-para{
        width: 100%;
    }

    .social-icons{
        width: 50%;
        margin-bottom: 25px;
    }

    .navigation img{
        margin-bottom: 25px;
    }
    
}

@media (max-width:991px) {
    
    .content-box {
        flex-direction: column;
        width: 100%;
    }

    .content-left {
        width: 100%;
        margin: auto;

    }
    
    .content-right {
        width: 100%;
    }
    .page-3{
        height: fit-content;
        
    }
}

@media (max-width:841px){
.img-container img {
    margin-left: 30%;
}
}

@media (max-width:580px) {
    .img-container {
        position: unset;
        /* margin-top: 0; */
        justify-content: center;

    }

    .img-container img {
        margin-left: 0;
        width: 100%;
    }

    .text-conatiner {
        margin-top: -175px;
        width: 100%;
    }

    .desc-container {
        margin: auto;
    }
}

